BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
PointerAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
IndentCaseLabels: true
InsertBraces: true
